/Installers/
/jre/
/launcher/Debug/
/launcher/x64/
/launcher/.vs/
/launcher/PlayIt Launcher/Debug/
/launcher/PlayIt Launcher/x64/
/PlayIt.exe
/PlayIt.pdb
/PlayIt.ilk
*.log
/PlayIt Launch4j.xml
/PlayIt Launcher/launcher/Debug/
/PlayIt Launcher/.vs/
/PlayIt.iobj
/PlayIt.ipdb
/logs.txt
/sfml-network-2.dll
/sfml-system-2.dll
/PlayIt Launcher/x64/
/PlayIt Launcher/launcher/Release/
/PlayIt Launcher/launcher/x64/
/PlayIt Launcher/launcher/sfml-network-d-2.dll
/PlayIt Launcher/launcher/sfml-system-2.dll
/PlayIt Launcher/launcher/sfml-system-d-2.dll
/PlayIt Launcher/launcher/sfml-network-2.dll
